:root {
  --colour-security: #0b6be1;
  --colour-seek-destroy: #bd0003;
  --colour-recon: #ff4f02;
  --colour-infiltration: #414141;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  padding: 20px;
}
h1 {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", sans-serif;
}
p {
  margin: 0.5em 0 0.5em;
}
ul {
  padding-left: 1.5em;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tacops-filters {
  padding: 20px;
  text-align: center;
}
.filter-group {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
.filter-group .label {
  margin-right: 20px;
}
select {
  padding: 10px;
}

.tacop-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 30px;
}
.card {
  width: 320px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid rgb(65, 77, 0);;
  min-height: 400px;
  font-size: 14px;
}

.card .archetype {
  background-color: rgb(65, 77, 0);
  text-align: center;
  padding: 5px;
  margin: 0;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  font-family: "Bebas Neue";
  font-size: 32px;
  border-radius: 8px 8px 0 0;
}

.card.security {
  border-color: var(--colour-security);
}
.card.security .archetype {
  background-color: var(--colour-security);
}

.card.seek-destroy {
  border-color: var(--colour-seek-destroy);
}
.card.seek-destroy .archetype {
  background-color: var(--colour-seek-destroy);
}

.card.recon {
  border-color: var(--colour-recon);
}
.card.recon .archetype {
  background-color: var(--colour-recon);
}

.card.infiltration {
  border-color: var(--colour-infiltration);
}
.card.infiltration .archetype {
  background-color: var(--colour-infiltration);
}

.card .name {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0 0 5px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 1px solid #999;
}
.card .middle {
  padding: 10px 20px 20px;
}
.card h5 {
  color: white;
  background-color: var(--colour-recon);
  display: flex;
  padding: 5px 10px;
  margin: 10px 0 5px;
  justify-content: space-between;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}
.card h5 span {
}
i.square {
  width: 13px;
  height: 13px;
  display: inline-block;
  content: "";
  background-color: blue;
  margin: 0;
}
i.triangle {
  width: 13px;
  height: 13px;
  display: inline-block;
  content: "";
  background: url(img/triangle.svg) no-repeat center / contain;
  margin: 0 0px;
}
i.circle {
  width: 11px;
  height: 11px;
  display: inline-block;
  content: "";
  background-color: white;
  border: 1px solid #333;
  border-radius: 50%;
  margin: 0;
}
i.pentagon {
  width: 13px;
  height: 13px;
  display: inline-block;
  content: "";
  background: url(img/pentagon.svg) no-repeat center / contain;
  margin: 0;
}


@media screen and (max-width: 600px) {
  .App-header {
    font-size: 32px;
    line-height: 1;
  }
}