:root {
  --colour-dark-grey: #282c34;
  --colour-security: #0b6be1;
  --colour-seek-destroy: #bd0003;
  --colour-recon: #ff4f02;
  --colour-infiltration: #5f5f5f;
  --colour-faction: rgb(65, 77, 0);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--colour-dark-grey);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  padding: 20px;
}
h1 {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", sans-serif;
}
p {
  margin: 0.5em 0 0.5em;
}
ul {
  padding-left: 1.5em;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tacops-filters {
  padding: 20px;
  text-align: center;
}
.filter-group {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
.filter-group .label {
  margin-right: 20px;
}
select {
  padding: 10px;
}

.tabs {
  display: flex;
  justify-content: center;
  background-color: var(--colour-dark-grey);
}
.tab {
  font-size: 30px;
  font-family: "Bebas Neue";
  padding: 10px 40px 5px;
  color: white;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
}
.tab.active {
  background-color: white;
  color: var(--colour-dark-grey);
}

.tab-body.active-all .saved,
.tab-body.active-all .missions,
.tab-body.active-all .instructions {
  display: none;
}
.tab-body.active-saved .all,
.tab-body.active-saved .missions,
.tab-body.active-saved .instructions {
  display: none;
}

.tab-body.active-missions .all,
.tab-body.active-missions .saved,
.tab-body.active-missions .instructions {
  display: none;
}

.tab-body.active-instructions .all,
.tab-body.active-instructions .missions,
.tab-body.active-instructions .saved {
  display: none;
}

.tab-body .saved {
  min-height: 400px;
}
.tacop-cards {
  margin: 0 auto 30px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.saved-cards {
  margin: 77px auto 30px;
}
.map-cards {
  margin-bottom: 30px;
}
.mission-cards {
  margin-bottom: 30px;
}

.generated-mission {
  display: flex;
  justify-content: center;
  align-items: center;
}

.missions.generated .map-cards,
.missions.generated .mission-cards {
  display: none;
}
.card {
  width: 320px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid var(--colour-dark-grey);
  min-height: 400px;
  font-size: 14px;
  box-shadow: 0 0 0 transparent;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.card.tacop {
  border-color: var(--colour-faction);
}
.card.tacop .archetype {
  background-color: var(--colour-faction);
}
.card.map {
  width: 460px;
  height: 320px;
}
.subhead {
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  margin: 0.25em 0;
}

img {
  max-width: 100%;
}
.card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.card.selected {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}
.card .archetype {
  background-color: var(--colour-dark-grey);
  text-align: center;
  padding: 5px;
  margin: 0;
  text-transform: uppercase;
  color: white;
  font-weight: normal;
  font-family: "Bebas Neue";
  font-size: 32px;
  border-radius: 8px 8px 0 0;
}

.card.security {
  border-color: var(--colour-security);
}
.card.security .archetype {
  background-color: var(--colour-security);
}

.card.seek-destroy {
  border-color: var(--colour-seek-destroy);
}
.card.seek-destroy .archetype {
  background-color: var(--colour-seek-destroy);
}

.card.recon {
  border-color: var(--colour-recon);
}
.card.recon .archetype {
  background-color: var(--colour-recon);
}

.card.infiltration {
  border-color: var(--colour-infiltration);
}
.card.infiltration .archetype {
  background-color: var(--colour-infiltration);
}

.card.faction {
  border-color: var(--colour-faction);
}
.card.faction .archetype {
  background-color: var(--colour-faction);
}

.card.mission .label {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 10px 0 5px;
  padding: 0 0 5px;
  font-family: "Roboto Mono", monospace;
}

.card.mission .title {
  display: flex;
  font-family: "Bebas Neue";
  background-color: var(--colour-dark-grey);
  color: white;
  align-items: center;
}
.card.mission .letter {
  font-size: 80px;
  line-height: 1;
  background-color: var(--colour-dark-grey);
  padding: 5px 15px;
  margin-left: 15px;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
.card.mission .mission-name {
  font-size: 50px;
  padding: 0 20px;
  margin: 0;
}
.card.mission .middle {
  padding-top: 0;
}
.card .name {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0 0 5px;
  font-family: "Roboto Mono", monospace;
  border-bottom: 1px solid #999;
}
.card .middle {
  padding: 10px 20px 20px;
}
.card h4 {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  font-size: 16px;
  margin: 10px 0 0;
}
.card h5 {
  color: white;
  background-color: var(--colour-recon);
  display: flex;
  padding: 5px 10px;
  margin: 10px 0 5px;
  justify-content: space-between;
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
}

i.square {
  width: 13px;
  height: 13px;
  display: inline-block;
  content: "";
  background-color: blue;
  margin: 0;
}
i.triangle {
  width: 13px;
  height: 13px;
  display: inline-block;
  content: "";
  background: url(img/triangle.svg) no-repeat center / contain;
  margin: 0 0px;
}
i.circle {
  width: 11px;
  height: 11px;
  display: inline-block;
  content: "";
  background-color: white;
  border: 1px solid #333;
  border-radius: 50%;
  margin: 0;
}
i.pentagon {
  width: 13px;
  height: 13px;
  display: inline-block;
  content: "";
  background: url(img/pentagon.svg) no-repeat center / contain;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: auto;
}
.btn {
  padding: 5px 40px;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  letter-spacing: 0.05em;
  font-size: 24px;
  border-radius: 4px;
  background-color: #282c34;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
  position: relative;
  text-align: center;
  font-weight: bold;
}
.btn span {
  width: 20px;
  height: 4px;
  display: block;
  background-color: white;
  position: absolute;
  top: 28px;
  left: 10px;
}

.btn.select span:nth-child(2) {
  transform: rotate(90deg);
}
.btn:hover {
  background-color: #ff4f02;
}
.generator {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}
.generate-button {
  background-color: #ff4f02;
  padding: 15px 40px;
  font-size: 32px;
  margin: 10px;
}
.generate-button:hover {
  background-color: #b03500;
}

@media screen and (max-width: 500px) {
  .App-header {
    font-size: 26px;
    line-height: 1;
  }
  .card {
    width: 100%;
    min-height: 0;
  }

  .tabs {
    display: flex;
    justify-content: center;
    background-color: var(--colour-dark-grey);
    padding: 0 5px;
  }
  .tab {
    font-size: 22px;
    font-family: "Bebas Neue";
    padding: 10px 10px 5px;
    color: white;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    line-height: 1.2;
  }
  .generator {
    flex-wrap: wrap;
    padding: 20px;
  }
  .generate-button {
    padding: 10px 20px;
  }
  .generated-mission {
    flex-wrap: wrap;
  }
  .card.map {
    width: 100%;
    height: auto;
  }
}
